body {
    background-image: url(../images/background.gif);
    background-repeat: repeat;
    /* background-color: black; */
}

h1 {
    color: blanchedalmond;
    font-size: 100px;
    /* font-family: 'Jolly Lodger', cursive;  */
    font-family: 'Jolly Lodger', cursive;
    text-align: center;
}

h3 {
    color: blanchedalmond;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
}
.directions {
    color: blanchedalmond;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
#goalscore{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

#randomScore{
    padding: 0px;
    margin: 0px;
    font-size: 100px;
    
}
#boxOne {
    color: blanchedalmond;
    font-family: 'Cabin Sketch', cursive;
    background-color: rgb(111, 126, 211, 0.2);
    margin: 30px;
    margin-left: 5px;
    padding: 20px;
    width: 300px;
    height: 165px;
    text-align: center;
}

#boxTwo {
    color: blanchedalmond;
    font-size: 30px;
    font-family: 'Cabin Sketch', cursive;
    background-color: rgb(111, 126, 211, 0.2);
    margin: 30px;
    margin-left: 110px;
    padding: 20px;
    width: 300px;
    height: 165px;
}


#content{
    background-color: rgb(111, 126, 211, 0.2);
    margin: 40px;
    padding: 30px;
    padding-top: .5px;
    width: 900px;
    margin-left: 210px;;
}

.gems {
    width: 350px;
    height: 300px;
}

.column {
    float: left;
    width: 30%;
   
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.gemsBox {
   margin-top: 30px;
}

#scoretitle {
    font-size: 30px;
    margin: 0;
    padding: 0px;
}

#finalScore{
    padding: 0px;
    margin: 0px;
    font-size: 100px;
}

.scorebox {
    color: blanchedalmond;
    font-family: 'Cabin Sketch', cursive;
    background-color: rgb(111, 126, 211, 0.2);
    margin: 30px;
    margin-left: 5px;
    padding: 20px;
    width: 300px;
    height: 165px;
    text-align: center;
}